.env
__pycache__/
*.pyc
venv/
.venv/

data/raw/*.csv
data/raw/*.json
data/raw/*.txt
data/raw/ml-latest-small/


# Au fur et à mesure du projet
# src/scraping_wikipedia.py
src/*.py

# Base de données
sql/
*.db

# Notebooks
notebooks/scraping_demo.ipynb
notebooks/modelisation_demo.ipynb

# Documentation
docs/99_*.md
docs/*.py
docs/00_Infos_API_TMDB.md
docs/00_Guide_Etudiant_04_Scraping.md
docs/00_Guide_Etudiant_05_Modelisation.md


