.env
__pycache__/
*.pyc
venv/
.venv/

# Les données brutes (extractiosn de l'API TMDB, scraping Wikipedia, etc.)
data/raw/
#data/raw/*.csv
#data/raw/*.json
#data/raw/*.txt
data/raw/ml-latest-small/

# Documentation
docs/supports_formateur/
docs/*.py
docs/00_Infos_API_TMDB.md

# Notebooks
#notebooks/scraping_demo.ipynb
#notebooks/modelisation_demo.ipynb

# Au fur et à mesure du projet
# src/scraping_wikipedia.py
#src/*.py

# Base de données
#sql/
*.db






