.env
__pycache__/
*.pyc
venv/
.venv/
*.db
data/raw/*.csv
data/raw/*.json
data/raw/*.txt
data/raw/ml-latest-small/


# Au fur et à mesure du projet
# src/scraping_wikipedia.py
src/*.py
notebooks/scraping_demo.ipynb

# Documentation

docs/99_*.md
docs/*.py
docs/00_Infos_API_TMDB.md
docs/00_Guide_Etudiant_04_Scraping.md
